.overlay-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    /*z-index: 998;*/
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.overlay-popup.hide {
    /*visibility: hidden;*/
    /*display: none;*/
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.overlay-popup.show {
    opacity: 1;
    z-index: 998;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
}
.overlay-popup .popup-block {
    position: relative;
}
.catch-popup {
    background: #ffffff url('/img/bg-popup.png') center no-repeat;
    background-size: cover;
    height: 500px;
    left: 0;
    /*margin-top: -250px;*/
    /*margin-left: -333px;*/
    position: absolute;
    top: 0;
    width: 666px;
    z-index: 999;
    overflow: hidden;
    border-radius: 2px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.catch-popup.hide {
    display: none;
    visibility: hidden;
}
.catch-popup.show {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.btn-popup-close {
    border: none;
    background: none;
    color: #333;
    font-family: 'Times New Roman', sans-serif;
    font-size: 44px;
    font-weight: 300;
    position: absolute;
    top: 1px;
    right: 10px;
    text-decoration: none;
    z-index: 1000;
}
.popup-content {
    position: relative;
    width: 300px;
    color: #333;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px;
    padding: 0;
}
.no-case-content {
    width: 412px;
    top: 55px;
    left: 225px;
}
.popup-content b {
    font-weight: 700;
}

@media all and (max-width: 980px) {
    .popup-content {padding: 0;}

    .catch-popup {
        width: 95%;
        left: 54.5%;
        background-position: -55px 0%;
    }

    .no-case-content {
        padding: 0 !important;
    }

}

.link-from {
    display: block;
    color: #333;
    font-size: 36px;
    font-weight: 700;
    margin: 5px 0 30px;
    text-decoration: none;
}
.link-from:hover {
    color: #c7504d;
}
/*.link-from span::after {
  background: url('img/icon-ext.png') 0 0 no-repeat;
  content: '';
  height: 13px;
  position: absolute;
  right: -20px;
  top: 10px;
  width: 12px;
}*/
.link-from span {
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    position: relative;
}
.button-row {
    margin-top: 20px;
}
.button-row button {
    color: #fff;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 0.5px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    width: 140px;
}
.button-row button img {
    margin-right: 5px;
    vertical-align: middle;
}
.button-row button span {
    vertical-align: middle;
}
.button-row button:focus {
    outline: none;
}
.button-row button.btn-yes {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318;
    margin-right: 8px;
}
.button-row button.btn-yes:hover {
    background: #B5C883;
}
.button-row button.btn-yes:active {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318,
    0 2px 7px 0 #374318 inset;
}
.button-row button.btn-no {
    background: #c7504d;
    box-shadow: 0 2px 0 0 #813230;
}
.button-row button.btn-no:hover {
    background: #D45552;
}
.button-row button.btn-no:active {
    background: #c7504d;
    box-shadow: 0 2px 0 0 #813230,
    0 2px 7px 0 #813230 inset;
}
.popup-content .content-big {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 25px;
    line-height: 1.2;
}
.popup-content form input {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: -4px;
    margin-right: 8px;
    font-size: 18px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    width: 170px;
}
.popup-content form button {
    background: #9bbd43;
    border: none;
    box-shadow: 0 2px 0 0 #374318;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 0.5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    width: 190px;
}
.popup-content form button:hover {
    background: #B5C883;
}
.popup-content form button:active {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318,
    0 2px 7px 0 #374318 inset;
}
.popup-content form button:focus {
    outline: none;
}
.popup-content form span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.no-case-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.no-case-content b {
    font-weight: 500;
}
.no-case-content .content-big {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.2;
}
.no-case-content form textarea {
    border: 1px solid #ccc;
    display: block;
    height: 140px;
    margin-bottom: 10px;
    font-size: 18px;
    resize: none;
    padding: 10px;
    width: 390px;
    border-radius: 2px;
}
.no-case-content form textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content form textarea::-moz-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content form textarea:-moz-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content form textarea:-ms-input-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content button {
    background: #9bbd43;
    border: none;
    box-shadow: 0 2px 0 0 #374318;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: inherit;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    width: 190px;
}
.no-case-content button:hover {
    background: #B5C883;
}
.no-case-content button:active {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318,
    0 2px 7px 0 #374318 inset;
}
.no-case-content button:focus {
    outline: none;
}
.no-case-content .comment {
    width: 300px;
}