html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.catch-popup {
    background: #ffffff url('/img/bg-popup.png') center no-repeat;
    background-size: cover;
    height: 500px;
    width: 666px;
    z-index: 999;
    border-radius: 2px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.btn-popup-close {
    border: none;
    background: none;
    color: #333;
    font-family: 'Times New Roman', sans-serif;
    font-size: 44px;
    font-weight: 300;
    position: absolute;
    top: 1px;
    right: 10px;
    text-decoration: none;
    z-index: 1000;
}
.popup-content {
    color: #333;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px;
    width: 300px;
}
.popup-content b {
    font-weight: 700;
}

.link-from {
    display: block;
    color: #333;
    font-size: 36px;
    font-weight: 700;
    margin: 5px 0 30px;
    text-decoration: none;
}
.link-from:hover {
    color: #c7504d;
}
.link-from span {
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    position: relative;
}
.button-row {
    margin-top: 20px;
}
.button-row .modal-btn {
    color: #fff;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 0.5px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    width: 140px;
}
.button-row .modal-btn img {
    margin-right: 5px;
    vertical-align: middle;
}
.button-row .modal-btn span {
    vertical-align: middle;
}
.button-row .modal-btn:focus {
    outline: none;
}
.button-row .modal-btn.btn-yes {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318;
    margin-right: 8px;
}
.button-row .modal-btn.btn-yes:hover {
    background: #B5C883;
}
.button-row .modal-btn.btn-yes:active {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318,
    0 2px 7px 0 #374318 inset;
}
.button-row .modal-btn.btn-no {
    background: #c7504d;
    box-shadow: 0 2px 0 0 #813230;
}
.button-row .modal-btn.btn-no:hover {
    background: #D45552;
}
.button-row .modal-btn.btn-no:active {
    background: #c7504d;
    box-shadow: 0 2px 0 0 #813230,
    0 2px 7px 0 #813230 inset;
}
.popup-content .content-big {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 25px;
    line-height: 1.2;
}
.popup-content form modal-input {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: -4px;
    margin-right: 8px;
    font-size: 18px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    width: 170px;
}
.popup-content form .modal-btn {
    background: #9bbd43;
    border: none;
    box-shadow: 0 2px 0 0 #374318;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 0.5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    width: 190px;
}
.popup-content form .modal-btn:hover {
    background: #B5C883;
}
.popup-content form .modal-btn:active {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318,
    0 2px 7px 0 #374318 inset;
}
.popup-content form .modal-btn:focus {
    outline: none;
}
.popup-content form span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.no-case-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    /*margin: 55px 45px 125px 225px;*/
}
.no-case-content b {
    font-weight: 500;
}
.no-case-content .content-big {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.2;
}
.no-case-content form textarea {
    border: 1px solid #ccc;
    display: block;
    height: 140px;
    margin-bottom: 10px;
    font-size: 18px;
    resize: none;
    padding: 10px;
    width: 390px;
    border-radius: 2px;
}
.no-case-content form textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content form textarea::-moz-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content form textarea:-moz-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content form textarea:-ms-input-placeholder {
    font-style: italic;
    color: #999;
}
.no-case-content .modal-btn {
    background: #9bbd43;
    border: none;
    box-shadow: 0 2px 0 0 #374318;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: inherit;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    width: 190px;
}
.no-case-content .modal-btn:hover {
    background: #B5C883;
}
.no-case-content .modal-btn:active {
    background: #9bbd43;
    box-shadow: 0 2px 0 0 #374318,
    0 2px 7px 0 #374318 inset;
}
.no-case-content .modal-btn:focus {
    outline: none;
}
.no-case-content>form>.modal-btn {
    width: 300px;
}
.helper {
    width: 100%;
    padding-right: 50%;
    margin-bottom: 10px;
}
.helper p {
    padding: 15px;
}
.target-id {
    background-color: #F9F2F4;
    color: #C7254E;
    padding: 2px 4px;
}

.btn-modals {
    margin-top: 20px;
    float: right;
}

.modals-nav::before {
    clear:both;
}

.bottom {
    position: absolute;
    left: 10px;
    bottom: 0;
    line-height: initial;
}

.inner-link {
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    color: #337ab7;
    border-bottom: 1px dashed #337ab7;
}

.inner-link:hover, .inner-link:focus {
    color: #23527c;
    border-bottom: none;
    text-decoration: none;
}

.modal-file-input {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 20px;
    left: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    margin: 0 0 0 -10px;
    padding: 0;
}

.tab-content {
    position: relative;
}

/*! jQuery UI - v1.12.1 - 2017-07-03
* http://jqueryui.com
* Includes: draggable.css, core.css, resizable.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
    z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-icon-block {
    left: 50%;
    margin-left: -8px;
    display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
    border: 1px dotted #ccc;
}
.form-group.required label:after {
    content: ' *';
    color: #fe3b3b;
}
.profile-wrapper .navbar-collapse,
.profile-wrapper .container-fluid,
.stat-wrapper .navbar-collapse,
.stat-wrapper .container-fluid {
    padding: 0;
}
.profile-wrapper .container-fluid ul.navbar-nav,
.profile-wrapper .container-fluid ul.navbar-nav li,
.stat-wrapper ul.navbar-nav,
.stat-wrapper ul.navbar-nav li {
    width: 100%;
}
.profile-wrapper .container-fluid ul.navbar-nav .glyphicon,
.stat-wrapper .container-fluid ul.navbar-nav .glyphicon {
    margin-right: 15px;
    font-size: 16px;
}
.stat-wrapper.notifications fieldset:not(:last-of-type) {
    margin-bottom: 40px;
}
.site-subscription button.free {
    margin-top: 15px;
}
@keyframes glyphicon-spin-r {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes glyphicon-spin-r {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes glyphicon-spin-r {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-o-keyframes glyphicon-spin-r {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
.spinner {
    opacity: 0;
    font-size: 21px;
    margin-left: 15px;
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}
#modals-save {
    visibility: hidden;
}
.dropdown-menu > .active > a {
    color: #333;
    background: none;
}
.dropdown-menu > .active > a:hover {
    color: #333;
    background-color: #f5f5f5;
}
#pay-subscription {
    background: #fcf5eb;
    border-left: 3px solid #f0ad4e;
}
#pay-subscription.expired {
    background: #f3e5e5;
    border-left: 3px solid #d9534f;
}